<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- <script src="https://kit.fontawesome.com/a4c6798c02.js" crossorigin="anonymous"></script>
     -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title><%=title%></title>
</head>
<body>
    <header>
        <i class="fa fa-comment-o"></i>
        Thought Bubbles
    </header>
    <nav>
        <ul>
            <li><a href="/" class="fa fa-home fa-3x"></a></li>
            <li><a href="/posts/new" class="fa fa-pencil-square-o fa-3x"></a></li>
            <li><a href="/posts" class="fa fa-comment fa-3x"></a></li>
            <li><a href="/About">About</a></li>
            <li><a href="/Tech">Tech</a></li>
        </ul>
    </nav>
    <main>