<%- include('partials/header') %>
<div class="card border-info mb-3" style="max-width: 18rem;">
    <div class="card-header">About</div>
    <div class="card-body text-info">
      <h5 class="card-title">What is this site</h5>
      <p class="card-text">This site was built as a reddit clone, it allows users to post anonymous thoughts on several different topics. No authentification has been implemented as of yet. But feel free to add your own thoughts and read through the ones available.</p>
    </div>
  </div>
<%- include('partials/footer') %>