<%- include('partials/header') %>
<div class="card border-info mb-3" style="max-width: 18rem;">
    <div class="card-header">Tech</div>
    <div class="card-body text-info">
      <h5 class="card-title">Credits</h5>
      <p class="card-text">This site was built using Express generator, JS, HTML, CSS, and Bootstrap templates</p>
    </div>
  </div>
<%- include('partials/footer') %>